.navbar{
    font-weight: 900;
    background-color: #CECECE;
    font-weight: 800;
}

body{
    padding-top: 70px;
    font-family: 'Cormorant Garamond', monospace;
    font-weight: 500;
    background-color: #E5E5E5;
    font-size: 18px;
}

hr{
    border-top: 1px solid black;
}


.error{
    color: red;
}

a {
    color: black;
}

a:hover{
    color: #8493A3;
}


    /*  frontpage   */

.frontpage-top h1,
.frontpage-top h4,
.frontpage-top p{
    margin-top: 1vh;
}

.frontpage-top h1{
    font-weight: bold;
}

#most-recent{
    font-weight: 600;
    margin-top: 4vh;
    margin-bottom: 2vh;
}

.posts {
    border-collapse: collapse;
    border: 2px solid #6D6D6D;
}

.post-header{
    border-bottom: 2px solid #6D6D6D;
    background-color: #D6D6D6;
}

.post-title{
    font-weight: bold;
    margin-top: 0;
    padding-top: 1vh;
    text-decoration: underline;
}


.post-content{
    padding-top: 2vh;
    padding-bottom: 2vh;
    background-color: #EDEDED;
    padding-left: 1vw;
    padding-right: 1vw;
}

.post-bottom{
    border-top: 2px solid #6D6D6D;
    background-color: grey;
    color: #F6F6F6;
}


    /*  new_post    */

#new-post{
    text-align: center;
}

#new-post h2{
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-weight: bold;
}

#new-post-content{
    font-weight: 800;
}

#new-post-textarea{
    width: 50vw;
    height: 40vh;
}

#new-post-submit{
    margin-top: 2vh;
}

    /*  login */
.login{
    padding-top: 7vh;
}
#login-submit{
    margin-top: 1vh;
    margin-right: 0;
}

   /*  signup  */


   /*   permalink   */

#edit-post-textarea{
    height: 30vh;
    width: 40vw;
}

#edit-submit{
    margin-right: 0;
    margin-left: 35vw;
}

.row-button{
    margin-top: 1vh;
}

.unbutton{
    color: black;
    background: none;
    border: none;
    font-size: 22px;
}

.unbutton:hover{
    text-decoration: underline;
    color: blue;
}
#delete-post-button,
#delete-comment-button{
    color: #7F0000;
}

.post-comment{
    padding-bottom: 2vh;
}
#comment-textarea{
    width: 27vw;
    height: 7vw;
}

#comment-submit{
    margin-top: 1vh;
}

#comment-section{
    padding-top: 2vh;
}

#comment-section h2{
    font-weight: bold;
}

.comment{
    padding-top: 1vh;
}

.comment-header {
    font-weight: bold;
}

.comment-content{
    padding-top: 2vh;
    font-weight: 600;
}
.comment-row{
    padding-top: 2vh;
}



    /*  welcome */
#welcome-page h2,
.welcome-body h3{
    font-weight: bold;
}

.user-posts{
    padding-top: 1vh;
}
