.navbar{
    background-color: #363636;
}


body{
    background-image: url("/static/images/O5GLLH0.jpg");
    background-size: 25%;
    padding-top: 70px;
    font-family: 'Cormorant Garamond', monospace;
    font-weight: 600;
    background-color: #EFEFEF;
    font-size: 18px;
}

hr{
    border-top: 1px solid black;
}


.error{
    color: red;
}

a {
    color: black;
}

a:hover,
span:hover,
.post-title:hover {
    color: #B27300;
}


    /*  frontpage   */

.frontpage-top h1,
.frontpage-top h4,
.frontpage-top p{
    margin-top: 1vh;
    font-weight: 700;
}

.frontpage-top h1{
    font-weight: bold;
}

#most-recent{
    font-weight: 600;
    margin-top: 4vh;
    margin-bottom: 2vh;
}

.posts {
    border-collapse: collapse;
    border: 2px solid #000;
}

.post-header{
    border-bottom: 2px solid #000;
    background-color: #4C4C4C;
    color: white;
    /*  background-color: #98928B; */
}

.post-title{
    font-weight: 800;
    margin-top: 0;
    padding-top: 2vh;
}

.post-youtube{
    background-color: black;
}
iframe{
    display: block;
    width: 75%;
    height: 40vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin-left: auto;
    margin-right: auto;
}

.post-content{
    padding-top: 2vh;
    padding-bottom: 2vh;
    background-color: #F5F5F5;
    padding-left: 2vw;
    padding-right: 2vw;
}

.post-bottom{
    border-top: 2px solid #575757;
    background-color: grey;
    color: #F6F6F6;
}


    /*  new_post    */

#new-post{
    text-align: center;
}

#new-post h2{
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-weight: bold;
}

#new-post-content{
    font-weight: 800;
}

.youtube-label{
    width: 30vw;
}

#new-post-textarea{
    width: 50vw;
    height: 40vh;
}

#new-post-submit{
    margin-top: 2vh;
}

    /*  login */
.login{
    padding-top: 7vh;
}
#login-submit{
    margin-top: 1vh;
    margin-left: 13vw;
}

   /*  signup  */
#signup-submit{
    float: right;
    margin-right: 2vw;
}

   /*   permalink   */

#edit-post-textarea{
    height: 30vh;
    width: 40vw;
}

#edit-cancel{
    float: left;
    margin-left: 8vw;
}

#edit-submit{
    float: right;
    margin-right: 30vw;
}

.row-button{
    margin-top: 1vh;
}

.unbutton{
    color: black;
    background: none;
    border: none;
    font-size: 22px;
}

.unbutton:hover{
    color: #B27300;
}
#delete-post-button,
#delete-comment-button{
    color: #7F0000;
}

.post-comment{
    padding-bottom: 2vh;
}
#comment-textarea{
    width: 27vw;
    height: 7vw;
}

#comment-submit{
    margin-top: 1vh;
}

#comment-section{
    padding-top: 2vh;
}

#comment-section h2{
    font-weight: bold;
}

.comment{
    padding-top: 1vh;
    border-bottom: 1px solid black;
    padding-bottom: 2vh;
}

.comment-header {
    font-weight: bold;
}

.comment-content{
    padding-top: 2vh;

}
.comment-row{
    padding-top: 2vh;
}



    /*  welcome */
#welcome-page h2,
.welcome-body h3{
    font-weight: bold;
}

.user-posts{
    padding-top: 1vh;
}


    /*  footer  */
footer{
    padding-bottom: 2vh;
    font-size: 20px;
    color: black;
}



span {
    color: white;
    font-weight: bold;
}

.edit_comment{
    z-index: 9999;
    float: right;
    position: fixed;
    top: 30vh;
    left: 25vw;
}

#edit_comment_h2{
    color: #B27300;
    font-weight: bold;
    padding-bottom: 1vh;
}


#edit_comment_textarea{
    width: 50vw;
    height: 17vw;
    background-color: black;
    color: white;
    border: 5px solid #B27300;
}

#edit_comment_submit{
    float: middle;
}

#edit_comment_submit,
#cancel_button{
    color: #B27300;
}
