{% extends "base.html" %}

{% block content %}

<div class="comment">
    <div>
    <p>Are you sure you want to delete this?  Your action cannot be undone!</p>
    </div>
    <h3 class="comment-header text-justify">{{comment.user}} said:</h3>
    <p class='comment-content text-justify'>{{comment.rendered_comment() | safe }}</p>
    <div class="row comment-row">
        <div class='col-md-4'>
            <p>{{comment.created.strftime("%I:%M %p on %b %d, %Y")}}</p>
        </div>
        <div class='col-md-offset-2 col-md-1'>
            <form method="post">
                <input type="hidden" name="comment_id" value="{{comment.key().id()}}">
                <input type="submit" name="delete_comment" value="Delete" id='delete-comment-button'>
            </form>
        </div>
    </div>
</div>

{% endblock %}
