

{% extends "base.html" %}

{% block content %}

<div class='frontpage text-center'>
    <div class='frontpage-top'>
        <h1>The Synchronicity Collective</h1>
        <h4>Welcome to our collective blog site.</h4>
        <p>
            In order to post, comment on, or like content you must be a registered user.
        </p>
    </div>

    <h2 id='most-recent'>Most Recent</h2>
    {% for post in posts %}
        <div class='posts'>
            <a href="/{{post.key().id()}}">
            <div class='post-header'>
                <h3 class="post-title">{{ post.title}}</h3>
                <h5>By: {{post.creator}}</h5>
            </div>
            <hr>
            <div class="post-content">
                {{ post.rendered_content() | safe }}
            </div>
            <div class="post-bottom container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        {{post.last_modified.strftime("Last Modified: %b %d, %Y %I:%M %p")}}
                    </div>
                    <div class="col-md-offset-4 col-md-2">
                        {{post.number_of_likes()}} Likes
                    </div>
                    <div class="col-md-2">{{post.number_of_comments()}} Comments</div>
                </div>
            </div>
            </a>
        </div>

        <hr>
        <br>
    {% endfor %}
</div>

{% endblock %}
