

{% extends "base.html" %}

{% block content %}


    <div class="test">
        <h1>The Synchronicity Collective</h1>
        <p>Welcome to our collective blog site.
            In order to post content, you must be a registered user.
        </p>
    </div>

    <h2>Most Recent</h2>
    {% for post in posts %}
        <div class='posts'>
            <div class="post-title">
                <a href="/{{post.key().id()}}" >{{ post.title}}</a>
            </div>
            <p>By: {{post.creator}}</p>
            <div class="post-content">
                {{ post.rendered_content() | safe }}
            </div>
        </div>
        <hr>
        <br>
    {% endfor %}


{% endblock %}
