

{% extends "base.html" %}

{% block content %}

<div class='col-md-12 text-center'>
    {% if error %}
    <li>{{error}}</li>
    {% endif %}
</div>

<div id="new-post" clas='col-md-6 col-md-offset-3'>
    <h2>Create a new post</h2>

    <form method="post">
        <label>Title (Required)</label>
        <input type="text" name="title">

        <br>
        <br>
        <br>
        <div class="text-left">
            <label>Youtube Link</label>
            <input class='youtube-label' type="text" name="youtube">
         </div>
         <br>

        <h3 id='new-post-content'>Content</h3>
        <textarea name="content" id='new-post-textarea'></textarea>


        <br>
        <div class='col-md-offset-11 col-md-1'>
        <input class='submit-button' id='new-post-submit' type="submit">
        </div>
    </form>
</div>




{% endblock %}
