{% extends "base.html" %}

{% block content %}
<div id="permalink">

    <div class='posts'>
        <div class='post-header text-center'>
            <h3 class="post-title">{{ post.title}}</h3>
            <h4>By: {{post.creator}}</h4>
        </div>
        {% if post.youtube %}
        <div class="post-youtube">
            <iframe class='youtube-iframe' src="https://www.youtube.com/embed/{{post.youtube}}" frameborder="0" allowfullscreen></iframe>
        </div>
        {% endif %}
        <div class="post-content text-justify">
            {{ post.rendered_content() | safe }}
        </div>
        <div class="post-bottom container-fluid">
            <div class="row">
                <div class="col-md-5">
                    {{post.last_modified.strftime("Last Modified: %b %d, %Y %I:%M %p")}}
                </div>
                <div class="col-md-offset-3 col-md-2">
                    {{post.number_of_likes()}} Likes
                </div>
                <div class="col-md-2">{{post.number_of_comments()}}  Comments</div>
            </div>
        </div>
    </div>

    <div class="container-fluid row-button">
        <div class="row">
            <div class='col-md-1'>
                {% if user_already_liked %}
                <form method="post">
                    <input type="submit" name="unlike" value="Unlike" class='unbutton'>
                </form>
                {% else %}
                <form method="post">
                    <input type="submit" name="likes" value="Like" class='unbutton'>
                </form>
                {% endif %}
            </div>


            <div class=' col-md-offset-4 col-md-1'>
                <form method='post'>
                    <input type='submit' name="edit" value="Edit" class='unbutton'>
                </form>
            </div>


            <div class="col-md-offset-4 col-md-1">
                <form method="post">
                    <input type='submit' name='delete_post' value="Delete" id='delete-post-button'>
                </form>
            </div>
        </div>  <!-- row -->
    </div>      <!-- container-fluid -->
    <br>
    {% if error %}
    <p class='error text-center'>{{error}}</p>
    {% endif %}
    <hr>
    <div class='text-center post-comment'>
        <form method='post'>
            <h3>Post a comment below:</h3>
            <textarea id='comment-textarea' name="comment" value=""></textarea>
            <br>
            <div class='col-md-offset-8 col-md-1' id='comment-submit'>
                <input type='submit'>
            </div>
        </form>
    </div>
    <br>
    <hr>



    <div id='comment-section'>
        <h2 class='text-center'>COMMENTS SECTION</h2>

        {% for comment in comments %}
            {% if edit_comment %}
                {% block comment %}
                {% endblock comment %}
            {% endif %}
        <div class="comment">
            <h3 class="comment-header text-justify">{{comment.user}} said:</h3>
            <p class='comment-content text-justify'>{{comment.rendered_comment() | safe }}</p>
            <div class="row comment-row">
                <div class='col-md-4'>
                    <p>{{comment.created.strftime("%I:%M %p on %b %d, %Y")}}</p>
                </div>
                <div class="col-md-1 col-md-offset-3">
                    <form method='post'>
                        <input type='hidden' name='comment_key_id' value="{{comment.key().id()}}">
                        <input type='submit' name='edit_comment' value="Edit" id="edit_comment_button" class='unbutton'>
                    </form>
                </div>
                <div class='col-md-offset-2 col-md-1'>
                    <form method="post">
                        <input type="hidden" name="comment_id" value="{{comment.key().id()}}">
                        <input type="submit" name="delete_comment" value="Delete" id='delete-comment-button'>
                    </form>
                </div>
            </div>
        </div>



    {% endfor %}
    </div>
</div>
<br>



{% endblock %}
