{% extends "base.html" %}

{% block content %}

    {% for comment in comments %}
        <p>{{comment.rendered_comment() | safe }}</p>
    {% endfor %}

    <h3 class="post-title">{{ post.title }}</h3>

    <h4>By {{ post.creator }}</h4>

    <br>
    <div class="post-content">
        {{ post.rendered_content() | safe }}
    </div>
    <br>

    <p class="timestamp">{{post.created.strftime("Created: %I:%M %p on %b %d, %Y ")}}</p>

    {% if user.name == post.creator %}
        <p><a href="/modify">Modify</a></p>
    {% endif %}

    <form method='post'>
        <textarea name="comment"></textarea>
        <input type='submit'>
    </form>


{% endblock %}
